<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta name="renderer" content="webkit">
  <meta name="referrer" content="no-referrer">
  <meta name="viewport"
    content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
  <title>
    <%- title %>
  </title>
  <meta name="description" content="<%- description %>">
  <link rel="icon" href="/logo.jpg" type="image/jpeg">
</head>

<body class="hide-scollbar">
  <div id="app"></div>
  <script type="module" src="/src/main.tsx"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vconsole@latest/dist/vconsole.min.js"></script>
  <script>
    var vConsole = new window.VConsole();
  </script> -->
</body>

</html>